target/
*.class
*.jar
*.war
*.ear
*.zip
*.tar.gz

.idea/
*.iws
*.iml
*.ipr

nbproject/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/

.classpath
.project
.settings/
bin/

.vscode/

*.mv.db
*.trace.db
*.h2.db

*.log
logs/

.DS_Store
Thumbs.db

/out/
/temp/
/tmp/

!/.mvn/wrapper/maven-wrapper.jar
.mvn/wrapper/maven-wrapper.properties

!gradle/wrapper/gradle-wrapper.jar
!gradlew
!gradlew.bat
